<html>
    <head>
        <title>LMTurk</title>
        {% load staticfiles %}
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static "turkle.css" %}" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Local Mechanical Turk</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Introduction</a></li>
                        <li><a href="/hits">Work on HITs</a></li>
                        <li><a href="/manage_hits">Manage HITs</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
